.franja {
  background-color: purple;
  padding: 10px;
  width: 100%;
  height: 7%;
  display: flex;
  margin: 0 auto;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;

}

.contenedor{
  width: 100%;
 position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}
.titulo{
  justify-content: left; 
  align-items: left;
  margin-left: 20px;
  width: 100%;
}

.divider {
  width: calc(100% - 29.5px); /* Resta 20px para dejar un pequeño espacio al final */
  border: none;
  border-top: 1px solid purple; /* Estilo de la línea */
  padding: 5px;
  display: flex;
  margin: 0 auto;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin-left: 1%;

}


.grilla-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 10px;
}



.divider-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 100%; /* Establece un ancho máximo para evitar que se desborden */
  overflow-x: auto; /* Permite el desplazamiento horizontal si los elementos se desbordan */
  padding: 0 20px; /* Agrega un margen adecuado a los lados del contenedor */
}

.barra-botones-container {
  display: flex;
  align-items: center;
  margin: 2%;
 
}

.barra-container {
  flex-grow: 1;
}

.botones-container {
  margin-left: 10px; /* Ajusta el valor según sea necesario */
  margin-bottom: 0.8%;
}

/* Otros estilos que puedas necesitar */

/* Media query para ajustar el tamaño de los elementos en función del tamaño de la pantalla */
@media (max-width: 768px) {
  .divider-container {
    grid-template-columns: 1fr;
  }

  .botones-container {
    margin-top: 10px; /* Ajusta el margen superior para separar los botones de la barra en pantallas pequeñas */
  }
}
