@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#fecha {
    border-color: purple;
    border-radius: 3px;
    width: 98%;

}

/* Quita la sombra cuando le das click*/
.form-control:focus {
    box-shadow: none;
    border-color: purple;
}


.lupa-container {
    border: none;
    background: none;
}

.lupa {
    color: purple;

}

#fecha{
border-color: purple;
border-radius: 3px;
width: 98%;

}

/* Atributos del recuadro de texto */


#controlXD {
border-color: purple;
border-radius: 3px;
width: 98%
}

/* Atributos del texto (label) en el borde superior */

#labelXD{
background-color: white;
padding-left: 5px;
padding-right: 5px;
transform: translateY(15px) translateX(-2px) scale(0.85);
user-select: none;
color: purple;
line-height: 1rem
}


#lupita {

    margin-left: 2%;
    margin-right: 5%;
    margin-top: 3.8%
};