

.botones-container button {
  border: #79747E 1px solid;
  font-weight: 500;
  white-space: nowrap; /* Agregado */
  flex-shrink: 0; /* Agregado */
}

#btn-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#btn-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.boton-ovalado {
  background-color: #6c3082;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.boton-ovalado:hover {
  background-color: #7d4296;
}

.boton-activo {
  background-color: #e8def8;
  color: black;
}

.boton-inactivo {
  background-color: white;
  color: black;
}

.calendar-container {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}
