@import "bootstrap/dist/css/bootstrap.min.css";


#containerDatos .btn{
    background-color: #6750a4;
    color: white;
    width: fit-content;
    border: none;
    height: fit-content;
    border-radius: 25px;
}

#containerDatos #rowButton{
    padding-top: 30px;
    padding-inline-start: 10px;
    padding-bottom: 20px;
}

#containerDatos #rowButtonDatos{
    padding-top: 30px;
    margin-left: 1px;
    padding-inline-start: 10px;
    padding-bottom: 20px;
}

#containerUniversidad .btn{
    background-color: #6750a4;
    color: white;
    width: fit-content;
    border: none;
    height: fit-content;
    border-radius: 25px;
}

#containerUniversidad #rowButton{
    padding-top: 20px;
    padding-inline-start: 10px;
    padding-bottom: 20px;
}

#containerPres .btn{
    background-color: #6750a4;
    color: white;
    width: fit-content;
    border: none;
    height: fit-content;
    border-radius: 25px
}

#containerPres #rowButton{
    padding-top: 20px;
    padding-inline-start: 10px;
    padding-bottom: 20px;
}

.contenedorPerfil #cuerpo{
    /*position: absolute;*/
    margin-top: 20%;
    width: 75%;
    /*height: 50px;
    background-color: red; */
    margin: 0 auto;
}

/*personal_info.css*/

/* Atributos del recuadro de texto */
.contenedorPerfil .form-control {
    border-color: purple;
    border-radius: 3px;
    color: purple;
    width: 250px;
    height: 56px;
    background-color: transparent;
}

/* Atributos del texto (label) en el borde superior */
.contenedorPerfil .form-label {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    transform: translateY(15px) translateX(-2px) scale(0.85);
    user-select: none;
    color: purple;
    line-height: 1rem;
}

/*segun W3School para quese vea bien la foto del profesor a la derecha*/
.contenedorPerfil .container{
    position: relative;
}

/*esto es para que los forms no estén tan separados entre sí*/
.contenedorPerfil .col{
    max-width: 265px;
    max-height: 70px;
}

/*izquierda y derecha es para poner la foto del profesor del lado derecho*/
.contenedorPerfil .izquierda{
    position: absolute;
    left: auto;
}

.contenedorPerfil .derecha{
    position: absolute;
    right: 70px;
}

.contenedorPerfil .izquierda_uni{
    position: absolute;
    width: 80%;
    
}

.contenedorPerfil .derecha_uni{
    position: absolute;
    left: 55%;
    
}

.contenedorPerfil p{
    font-weight: bold;
}

.contenedorPerfil #adjuntar{
    text-align: center;
    margin-top: 10px;
    color: #A114B5;
}

.contenedorPerfil #pruebitaid{
    width: 500px;
}
span{
    width: 40%;
    border: #000;
}




/*tabs.css*/
/*da formato a todo lo que abarcan los tabs*/
.contenedorPerfil .Tabs{
    margin-top: 80px;/*se hace esto para compensar por el position: auto de la sección de arriba (izquierda y derecha)*/
    background: #FEF7FF;
    height: auto;
    min-height: min-content;
    width: 90%;
}

/*formato de los tabs*/
.contenedorPerfil ul.nav li{
    width: 170px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    cursor: pointer;
}

/*cambia el color de las tabs al pasar el mouse encima*/
.contenedorPerfil ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
}

/*resalta la tab que esté seleccionada*/
.contenedorPerfil ul.nav li.active {
    color: purple;
    font-weight: bold;
    /*background-color: #A114B5;*/
    border-bottom:4px solid #A114B5;
}

.contenedorPerfil .linea{
    border-left: 1px solid #000;
    height: 250px;
    position: absolute;
    left: 53%;
}

.contenedorPerfil li{
    padding-top: 10px;
}


.contenedorPerfil #titulo, #presentacion{
    
    width: 95%;
}

.contenedorPerfil #universidad, #carrera{
    width: 230%;
}

