.general {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 15px;
  }
  
  .header {
    font-size: x-large;
    font-weight: 300px;
  }
  
  .subheader {
    font-size: medium;
  }
  
  #boton {
    display: flex;
    justify-content: end;
  }
  
  .divider {
    margin: auto;
    padding-bottom: 10px;
  }
  
  #verCita {
    border-style: solid;
    color: #6750a4;
    background-color: white;
    border-color: #79747e;
    height: max-content;
    border-radius: 25px;
  }
  
  #verCita:hover {
    color: white;
    background-color: #6750a4;
    border: none;
  }
  
  .btn {
    background-color: #6750a4;
    color: white;
    border: none;
    height: fit-content;
    border-radius: 25px;
  }
  
  .btn:hover {
    color: #6750a4;
    background-color: white;
    border-style: solid;
    border-color: #6750a4;
  }