.general{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 15px;
}

.header{
    font-size: x-large;
    font-weight: 300px;
}

.subheader{
    font-size: medium;
}

#boton{
    display: flex;
    justify-content: end;
}

.divider{
    margin: auto;
    padding-bottom: 10px;
}