.GroupCom{
    background-color: #f7ecfe;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    height: max-content;
    margin-bottom: 15px;
}

#contenedorComentarios{
    width: 100%;
}

